@import "../../colors";
@import "../../variables";

div, p {
  text-shadow: 1px 1px 1px $color-white;
}

.title {
  padding: 0 $ruler *2;
  text-align: center;
}
.segment {
  padding: $ruler;
  text-align: center;
}

.thumbnail {
  margin: 1em 0;
  display: flex;
  align-content: center;
  place-content: center;
  img {
    border: 0;
    outline: 0;
    font-size: $ruler;
    max-width: 500px;
    min-width: 500px;
    padding: $ruler;
    background: linear-gradient(145deg, #212121, #1c1c1c);
    box-shadow: 7px 7px 15px #212121,
    -7px -7px 20px #212121,
    0px 0px 4px #1c1c1c !important;
    border-radius: 30px;
  }
}


button {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
}


label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

input {
  margin-right: $ruler/2;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

button {
  color:#FFF;
  font-weight: bold;
  border-radius: 72px;
  background: linear-gradient(128deg, #212121, #1c1c1c);
  border: solid 1px #212121;
  box-shadow:  5px 5px 10px #141414,
  -5px -5px 10px #2a2a2a;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  &.active {
    box-shadow: inset 5px 5px 10px #141414,
    inset -5px -5px 10px #2a2a2a;
  }

  &:hover {
    box-shadow: inset 5px 5px 10px #141414,
    inset -5px -5px 10px #2a2a2a;
  }

  &:active {
    box-shadow: inset 5px 5px 10px #141414,
    inset -5px -5px 10px #2a2a2a;
  }

  .icon {
    margin-right: $ruler/2;
  }

  &.unit {
    border-radius: $ruler * 20;
    line-height: 0;
    width: $ruler*3;
    height: $ruler*3;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 $ruler/2;
    font-size: $ruler*1.2;

    .icon {
      margin-right: 0;
    }
  }

  &.red {
    display: block;
    width: 100%;
    color:$color-red;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}

ion-item {
  top: auto;
  margin-bottom: 5px !important;
  .range-time {
    padding-top: 1em;
  }
}
